<h2>Public gallery</h2>

<div class="row">
	<% if !user_signed_in? %>
		<div class="col-md-8">
	<% else %>
		<div class="col-md-12">
	<% end %>

	 <%= render "photos/photos" %>
 	
	</div>

	<% if !user_signed_in? %>
	<div class="col-md-4">
		<%= render 'photos/new' %>
	</div>
	<% end %>

</div>