<section class="row">

  <section class="col-md-8">
	<%=render 'photos/photos' %>
  </section>

  <section class="col-md-4">
    <%  if profile_owner_name? @profile_name %>	
    	<div class="row"><%= render 'photos/new' %></div>
    	<%= render "photos/photo_owner" %>
	  <% end %>
  </section>

</section>
