<h2>
	Profile name: <%= @profile.name %>
</h2>

<ul>
	<li>
		<%= link_to "Photos" , profile_photos_path(@profile.name) %>
	</li>
	<li>
		<%= link_to "Albums" , profile_albums_path(@profile.name) %>
	</li>
</ul>