<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <strong><%= @album.name %></strong> editing
      </div>
      <div class="modal-body">
        <%= render 'albums/form' %>
      </div>
    </div>
</div>