<% if  profile_owner_name? @profile.name %>
	<div class="panel panel-default">
		<div class="panel-heading">
		Add album
		</div>
		<div class="panel-body">
			<% @album ||= Album.new %>
			<%= render 'albums/form' %>
		</div>
	</div>
<% end %>