<div class="slider_prev">
  <%= link_to image_tag("/prev.png"), show_photo_path( @type ,@prev, :link=>@link ),
      {remote: true,id: "prev_photo"}  if @prev %>
</div>
<div class="slider_next">
  <%= link_to image_tag("/next.png"), show_photo_path( @type ,@next, :link=>@link ),
      {remote: true, id: "next_photo"}  if @next %>
</div>