
<div class="panel panel-default">
<div class="panel-heading">
  <span>Upload Images</span>
  <% if user_signed_in? %>
    <span class="pull-right">
    <%= button_to "Camera" , camera_path,method: "get", class: "btn btn-xs btn-primary" %>
  </span>
  <% end %>
</div>
<div class="panel-body">
  

  <%= form_for Photo.new, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar center">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <%= f.file_field :photo , :multiple => :true , :name => 'photo[photo]' %>
        </span>
      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  <% end %>

</div>
<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td colspan="2">
      <div class="progress active"><div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div></div>
    </td>
    
    {% } else { %}
    <td colspan="1"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="glyphicon glyphicon-pause"></i>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}

        <td class="name"><span>{%=file.name%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <div class="name"><a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a></div>
        </td>
        <td></td>
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="glyphicon glyphicon-trash"></i>
         
        </button>
      </td>
    </tr>
    {% } %}
</script>




</div>


<script type="text/javascript" charset="utf-8">
  $(function () {

      var start = 0;
      var stop = 0;
      var ad = 0;

      $('#fileupload').fileupload({
       //singleFileUploads:false
       autoUpload: true,
       previewMaxHeight: 50,
       previewMaxWidth: 50,
       previewCrop: true,
       progressInterval:100,
       imitConcurrentUploads: 2
      });

      $('body').on('DOMNodeInserted','.template-download',function(){
        $(this).delay(3000).hide('slow',function(){
          $(this).remove();
        })
      });

      $('#fileupload').bind('fileuploadsend',function(e){
        start++;
      });

      $('#fileupload').bind('fileuploadalways',function(e){
        stop ++;
           if(ad==100 && start == stop && start > 0 ){
            sendRefreshToken();
            stop = 0; 
            start = 0;
            ad =0;
           }
      });

      $('#fileupload')
        .bind('fileuploadprogressall', function (e, data) {
           ad = data.loaded/data.total * 100 ;
        });

      $('#fileupload')
        .bind('fileuploadprogress', function (e, data) {
           var ad = data.context.find('.progress-bar');
           $(ad).width(data.loaded / data.total * 100 + "%");
        });
  });
</script>


