<div class="modal-dialog" id='photo-browser-dialog'>
  <div class="modal-content">

    	<div id="show-photo-header">
    		<%= render "show_header" %>
    	</div>

      <%= render 'photos/navs' %>	
      <div id ="body-dialog">

      </div>
 
      <div id="show-photo-content">       
            <%= render "show_content" %>
      </div>

    	<div class="modal-footer" id="show-photo-footer">
    		<%= render "show_footer" %>
    	</div>
  </div>
</div>