<div class="center">
    <%= image_tag @photo.photo.url() , class: "show-photo" ,
    	 "alt" => "Description: #{@photo.description}" , id: "photo#{@photo.id}d" %>
   	<div class="descripiton-photo-show">
   		<%= @photo.description %>
   	</div>
</div>