

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.label{
  a {
    color: white !important;
  }
}

.photo-admin-panel{
  margin-right:40px;
  .button_to {
    float:left;
    margin-left: 3px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
    &:hover {
      color: #fff;
      text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  a {
    color: #555;
    &:hover{
      color:#222;
    }
  }

  small {
    float:left;
  }

  ul{
    float:right;
    list-style:none;
    li{
      float:left;
      margin-left:10px;
    }
  }
}


.name {
  white-space:nowrap; 
  overflow:hidden;
  text-overflow:ellipsis; 
  max-width:175px;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
   -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.photos  {
  .photo {
    float: left;
    margin-right:10px;
    margin-bottom: 0px;
    margin-top:0px;
    .checkbox {
      position: relative;
      left: 90%;
      bottom: 30px;
    }
  }
  margin-left:auto;
  margin-right:auto;
}

.photo {
  max-height: 600px;
  max-width: 100%;
}

.center
{
  margin-left:auto;
  margin-right:auto;
}

.panel .pagination {
  clear:both;
  margin: 0px 0px 0px 0px;
}

.modal-dialog {
  .modal-header {
    padding: 3px 5px 3px 15px;
  }
 
}

.photo-description{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: black;
  strong{
    margin-right: 30px;
  }
}

#show-photo-footer {
  padding: 2px 4px 2px 4px;
  margin-top: 0px;
}

.show-photo {
  padding-left: 0px;
  padding-right: 0px;
  max-width:100%;
  max-height:70%;
}

@media all and (max-width: 799px) and (min-width: 300px){
  #photo-browser-dialog {
    width: 450px;
    max-width: 100%;
  }
}

@media all and (min-width: 800px){
  #photo-browser-dialog  {
    width: 550px;
    max-width: 100%;
  }
}

@media all and (min-width: 800px){
  #photo-browser-dialog  {
    width: 650px;
    max-width: 100%;
  }
}

@media all and (max-height: 399px) and (min-height: 300px){
  #photo-browser-dialog , .show-photo {
    max-height: 250px;
  }
}

@media all and (max-height: 599px) and (min-height: 400px){
  #photo-browser-dialog , .show-photo {
    max-height: 400px;
  }
}

@media all and (max-height: 799px) and (min-height: 600px){
  #photo-browser-dialog , .show-photo {
    max-height: 550px;
  }
}

@media all and (min-height: 800px){
  #photo-browser-dialog , .show-photo {
    max-height: 650px;
  }
}




#body-dialog{
  padding: 0px 50px 0px 50px;
}


.slider_next{
  background: #f8f8f8;
  position: relative;
  border-radius: 70px;
  position: absolute;
  z-index: 99;
  top: 50px;
  right: -25px;
  padding: 5px 5px 5px 5px; 
  cursor: pointer; 
}

.slider_prev{
  background: #f8f8f8;
  position: relative;
  border-radius: 70px;
  position: absolute;
  z-index: 99;
  top: 50px;
  left: -25px;
  padding: 5px 5px 5px 5px; 
  cursor: pointer;
}

.modal.fade.in {
top: 40%;
}

.img-thumbnail{

 height:120px;
}